/*body { background-color: red;}
h1 { text-align: center;}*/

body {
  color: red;
  background: gold ;
  background-color: gold;
}
h1{
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
navigation {
  text-align: center;
}
img { height: 100px; width:200px;}
text-align {color : red;
            }
